h1 {
	margin: 0;
	padding: 14px 16px;
	color: green;
	
}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	
}

li {
	float: right;
}

li a {
	display: block;
	color: lightgray;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
}
li a:hover{
	background-color: tomato;
}
div{
	font-size: 20px;
	text-align: center;
}
body{
	background-image: url('Website-Design-Background.png');
	background-repeat: no-repeat;
	background-size: justify;
	background-attachment: fixed;
	font-family: 'Josefin Slab', serif;
	font-size: 20px;
}
div{
	color: white;
	font-size: 18px;
}
.me{
	float: left;
}

.heading{
	font-size: 60px;

}

.data{
	font-size: 25px;
	float: left;
	color: black;
	padding-top: 100px;
}
















